<div id="treehouse_profile">
    <a class="search_again_btn" href="/">SEARCH AGAIN</a>
    <div class="profile_header">
        <h1>Treehouse Profile</h1>
        <a href="{{profile.profile_url}}" target="_blank">
          <img src="{{profile.gravatar_url}}" alt="" />
        </a>
        <h2>{{profile.name}}</h2>
    </div>
    <!-- endof::profile_header -->
    <div class="badges">
        <div class="section_name">Badges Earned</div>
        <div class="badges_list">
          {{#each profile.badges }}
            <img src="{{this.icon_url}}" title="{{this.name}}"/>
          {{/each}}
        </div>
    </div>
    <!-- endof::badges -->
    <div class="points_earned">
        <h1 class="title">Points Earned</h1>
        <div class="page_wrapper">
            <div class="total_points">
                <span id="total_points">{{number_with_commas profile.points.total}}</span> Total Points
            </div>
            <div class="points_wrap clearfix">
                {{{chart_builder profile.points}}}

            </div>
        </div>
    </div>
    <!-- endof::points_earned -->

</div>
<!-- endof::teamtreehouse_profile -->

{{> footer}}
